.row_vcenter {
  display: flex;
  place-items: center;
  height: 100vh;
  justify-content: center;
  place-items: center
}

.col_vcenter {
  margin: 15px;  
  height: inherit;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.col_vcenter a {
  color: black ;
  text-decoration: none;
}

.col_vcenter a:hover {
  color: white ;
  text-decoration: none;
}

.col_vcenter a:hover h2{
  font-size: 50px;
}

.navlink_style{

}


/* DEFAULT CODE */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
